@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    width: 390px;
    height: 844px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
    padding: 0px;
}

.icon-person-dashboard {
    margin-left: 311px;
    margin-top: 37px;
    background: #fff;
}

.title-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #292929;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-maceta {
    width: 304px;
    height: 116px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    margin-left: 43px;
    margin-top: 55px;
    display: flex;
}

.img-planta-dashboard {
    width: 71px;
    height: 71px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-left: 13px;
    margin-top: 23px;
}

.apodo-planta-card {
    display: flex;
    width: 198px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #292929;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.54px;
    margin-left: 14px;
    margin-top: 23px;
}

.nombre-planta-card {
    display: flex;
    width: 174px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #888;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.42px;
    margin-top: 7px;
    margin-left: 14px;
}

.sensors,
.humedad,
.luz,
.temperatura {
    display: flex;
}

.sensors {
    margin-left: 14px;
    margin-top: 9px;
}

.icon-sensor-dashboard {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.valor-sensor-dashboard {
    display: flex;
    width: 34px;
    height: 9px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #888;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    margin-left: 3px;
    margin-top: 6px;
}

.agregar-maceta-btn {
    width: 298px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #447B51;
    display: flex;
    margin-top: 80px;
    margin-left: 46px;
    margin-bottom: 112px;
}

.agregar-maceta-text {
    display: flex;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #EDF3E5;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-left: 39px;
    margin-top: 22px;
}

.icon-add {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-left: 13px;
    margin-top: 15px;
}